body {
    background-color: #252525;
    color: #f0f0f0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* margin: 0; */
}

h1,h4 {
    text-align: center;
    text-decoration: underline;
    font-weight: 800;
}

a {
    text-decoration: underline;
    color: #4B9CD3;
}
.wrapper {
    padding: 30px;
    margin: 40px;
    border: #FFFFFF 5px solid;
    border-radius: 20px;
    box-shadow: #050505 15px 15px;
    min-height: 180px;
}

#add-task {
    background: rgb(46,200,33);
    background: linear-gradient(120deg, rgba(46,200,33,1) 0%, rgba(65,162,57,1) 100%); 
    text-align: center;
    border-radius: 15px;
    color: #f0f0f0;
    font-weight: 400;
}