body {
    background-color: #252525;
    color: #f0f0f0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* margin: 0; */
}

h1,h4 {
    text-align: center;
    text-decoration: underline;
    font-weight: 800;
}

img {
    border-radius: 40px;
}

a {
    text-decoration: underline;
    color: #4B9CD3;
}
/*
#removeable {
    position: absolute;
    top: 50%;
    left: 50%;
}

.result_calc {
    max-width: 50%;
    background-color: magenta;
    border-radius: 3px;
}
*/
